<div class="row">
	<h1>Mis Proyectos</h1>
	<div class="container">
		<div class="col-sm-12 col-md-7 col-lg-7 parte1">
			<h2>Portfolio</h2>
			<p>
				Frontend con Typescript en Angular con estilos en CSS y Bootstrap. Backend con Java en Spring Boot conectada a una base de datos MySQL (Proyecto de Argentina Programa 2022).
			</p>
		</div>

		<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
			<a href="https://frontendjea.web.app/"><img src="../../../assets/img-portfolio.png" class="img-fluid img-proyecto"></a>
		</div>
	</div>
</div>