.row {
	padding: 20px;
	background-color: #ff5a26;
	margin: 0%;
}

.container {
	width: auto;
}

.parte1, .parte2 {
	display: inline-block;
	text-align: justify;
}

.img-proyecto {
	box-shadow: 10px 10px 30px black;
}