.row {
	padding: 10px;
	margin: 0%;
}

div {
	background-color: #ff5a26;
	text-align: center;
}

/* Etiqueta <fotoPerfil> */
@media (min-width: 576px) {
	#fotoPerfil {
		border-radius: 100%;
	}

	.descripcion {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/*--- Para la vista en smartphone ---*/
@media (max-width: 575px) {
	#fotoPerfil {
		position: absolute;
		width: 35%;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		/*left: 35%;
		top: 280px;*/
	}
}

/* Etiqueta <nombre> */
#nombre {
	font-weight: bold;
	margin-top: 25%;
}