<div class="row">
	<div class="container">
		<div class="logo">
			<img src="../../../assets/APLogo.png" id="logoAP">
		</div>
		<div class="redes">
			<div>
				<a href="https://www.facebook.com/ezekiel.acosta.94"><img src="../../../assets/facebook.png" id="logoFB"></a>
				<a href="https://twitter.com/ezekielacosta94"><img src="../../../assets/twitter.png" id="logoTW"></a>
				<a href="https://github.com/ezequiel-acosta"><img src="../../../assets/github.png" id="logoGH"></a>
				<button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
				<button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
			</div>
		</div>
	</div>
</div>
